<center><h1>{{title}}</h1></center>
<div>{{homeScreeMessage}}</div>
<div>
	<section class="main">
		<article ng-repeat="accessPoint in accessPoints">
			<a ng-click="setAccessPoint(accessPoint.name)" ng-href="accessPoint/{{accessPoint.name}}"> <img
				ng-src="../TempratureControl/{{accessPoint.accessPointimage}}"
				alt="{{accessPoint.name}}" height="120px" width="120px" />
			</a>
			<br>
			<b>{{accessPoint.name}}</b>
			<br>
			<b>{{accessPoint.overAllStatus}}</b>
		</article>
	</section>
</div>
