<h1>{{title}}</h1>
<div>{{homeScreeMessage}}</div>
<br />
<br />
<div align="center">
	<form ng-submit="userlogin()">
		<table>
			<tr>
				<td><label id="userName">UserName:</label></td>
				<td><input type="text" ng-model="userName" /></td>
			</tr>
			<tr>
				<td><label id="password">Password:</label></td>
				<td><input type="text" ng-model="password" /></td>
			</tr>
			<tr>
				<td />
				<td colspan="2"><input type="submit" value="Login" /></td>
			</tr>
		</table>
	</form>
</div>