
<div ng-include src="'partialTemplates/menu.html'"></div>
<div class="container" id="container">
	<div class="post-wrapper">
		<table style="width: 100%">
			<tr rowspan="2">
				<th align="center" colspan="10">
					<div align="center">
						<img ng-src="../TempratureControl/{{sensorPointimage}}"
							alt="{{sensor.name}}" height="60px" width="60px" />
						<!--  <a
					ng-click="setSensorPoint(sensor.name)"
					ng-href="sensor/{{sensor.name}}"> <img
					ng-src="../TempratureControl/{{sensorPointimage}}"
					alt="{{sensor.name}}" height="120px" width="120px" />
				</a> -->
						<br> <b>{{sensorPointService.sensorPointName}}</b>

					</div>
				</th>
			</tr>

			<tr rowspan="1">
				<td>&nbsp;&nbsp;</td>
			</tr>

			<tr rowspan="12">
				<td align="center" colspan="2">
					<div align="center">
						<a ng-click="setAccessPoint(accessPointService.accessPointName)"
							ng-href="accessPoint/{{accessPointService.accessPointName}}">
							<img ng-src="../TempratureControl/{{accessPointimage}}"
							alt="{{accessPointService.accessPointName}}" height="60px"
							width="60px" />
						</a><br> <b>{{accessPointService.accessPointName}}</b>
					</div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div>
						<table>
							<tr>
								<td>From UTC :</td>
								<td><input type="text" ng-model="fromUTC" /></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>To UTC :</td>
								<td><input type="text" ng-model="toUTC" /></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td align="center" colspan="2"><input type="submit"
									value="Get Graph" ng-click="getGraph(fromUTC,toUTC)" /></td>
							</tr>
						</table>
					</div>
				</td>

				<td align="center" colspan="6" padding="5">



					<div align="center">
						<fusioncharts width="500" height="350" type="line"
							, datasource="{{dataSource}}" events="events">
					</div>

				</td>
			</tr>
		</table>
	</div>
</div>